/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }

    .toggle-menu svg {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {

    /* Common */
    .hero .desc,
    .popular-top .desc,
    .features .desc,
    .blog .blog-top .desc,
    .blog .item .title a {
        font-size: 1.4rem;
    }

    .hero .body,
    .features .body,
    .features-2nd .body {
        flex-direction: column-reverse;
    }

    /* -- Header -- */
    .navbar {
        position: relative;
    }

    .body .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        display: block;
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.6s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        font-weight: 500;
        color: #333;
    }

    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked~.menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    /* Hero */
    .heading.lv1 {
        font-size: 4.5rem;
    }

    .hero .content-block {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .hero .cta-group {
        justify-content: center;
    }

    .hero .media-block {
        margin-top: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-summary {
        right: 120px;
    }

    /* Popular */
    .popular {
        padding: 35px 0 0;
    }

    .popular-top {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .popular-top .controls {
        margin-top: 20px;
    }

    .popular .course-list {
        grid-template-columns: 1fr;
    }

    /* Feedback */
    .open-quotes {
        width: 20px;
    }

    .feedback-item blockquote {
        font-size: 1.6rem;
    }

    /* Features */
    .features {
        margin-top: 80px;
    }

    .features .content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .features .cta-btn {
        margin-top: 16px;
    }

    .features .images {
        margin-top: 60px;
        justify-content: center;
        gap: 0 15px;
    }

    /* Blog */
    .blog {
        margin-top: 80px;
        padding: 60px 0;
    }

    .blog .blog-list {
        gap: 15px;
    }

    .blog .item {
        width: 49%;
    }

    .blog .item .info {
        padding: 20px;
    }

    /* Footer */
    .footer {
        padding: 60px 0 0;
    }

    .footer .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer .row .column:first-child,
    .footer .row .column {
        width: 100%;
    }

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {

    /* Common */
    .hide-on-mobile {
        display: none;
    }

    /* -- Header -- */
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .header .actions {
        display: none;
    }

    /* Hero */
    .heading.lv1 {
        font-size: 2.7rem;
    }

    .hero .cta-group {
        flex-direction: column;
    }

    .hero .hero-cta {
        min-width: 150px;
        line-height: 50px;
    }

    .hero .watch-video {
        margin-top: 20px;
        margin-right: 40px;
    }

    .hero .desc.stats {
        margin-top: 20px;
    }

    .hero .media-block .img {
        height: auto;
    }

    .hero-summary {
        right: 10px;
    }

    /* Popular */
    .popular {
        margin-top: 0;
    }

    .heading.lv2 {
        font-size: 2rem;
    }

    .hero .media-block .img,
    .popular-top .desc,
    .feedback-item .content,
    .features .images img,
    .blog .blog-top .desc,
    .blog .item {
        width: 100%;
    }

    /* Feedback */
    .feedback {
        padding: 80px 20px 80px;
    }

    .feedback .feedback-item {
        flex-direction: column-reverse;
    }

    .feedback-item .info {
        margin-top: 30px;
    }

    .feedback-item blockquote {
        margin: 10px 0 0;
    }

    /* Feature 1 */
    .features-2nd {
        margin: 0;
    }

    /* Blog */
    .blog {
        margin-top: 40px;
    }

    /* Footer */
    .footer {
        padding: 60px 20px 0;
    }

    .footer .row {
        grid-template-columns: 1fr;
    }
}